.cartBlock>div {
    height: auto;
    display: flex;
    justify-content: space-between;
}

.cartBlock>div>div {
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.cartBlock>div>div>article>.div1 {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 45em;
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
}

.cartBlock>div>div>article>div>div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
}

.cartBlock>div>div>article>div>div>p>button {
    width: fit-content;
    padding: 6px 10px;
    color: crimson;
    font-size: 18px;
    border-radius: 50%;
}

.cartBlock>div>div>article>div>div>p>span {
    padding: 0 10px;
    font-size: 18px;
}

.cartBlock>div img {
    height: 300px;
    width: 250px;
}

.emptyCart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}

.emptyCart>img {
    height: 80vh;
    width: 80%;
}

.placeOrder{
     position: sticky;
    top: 60vh;
}
.placeOrder>button {
    margin: 27vh 0 0 15vh;
    color: #fff;
    font-size: 23px;
    border-radius: 5px;
    padding: 19px 103px;
    background-color: #ff9f00;
    color: "white";
    width: "9.2em";
    border: none;
    border-radius: "4px";

}

.remove {
    cursor: pointer
}

button {
    cursor: pointer;
}

.priceDetails {
    position: sticky;
    top: 100px;
    width: 430px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 15px;
    border-radius: 4px;
    margin-right: 25px;
}

.productDetails {
    display: flex;
    width: 400px;
    justify-content: space-between;
    margin-bottom: 20px;
}