.NavBarBlock {
    height: 80px;
    width: 100%;
    /* background-color: rgb(221, 221, 221); */
    background-color: #f9f9f9;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.NavBarBlock>article {
    height: inherit;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavBarBlock>article>.div1>a {
    height: inherit;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

;



.NavBarBlock>article>.div2 {
    height: inherit;
    display: flex;
    width: 45%;
}

.NavBarBlock>article>.div2>ul {
    height: 80px;
    align-items: center;
    display: flex;
    list-style: none;
    margin-right: 20px;
    gap: 5em;
}



.NavBarBlock>article>.div3 {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20%;
}

.menu {
    position: relative;
}

.menu>ul {
    position: absolute;
    top: 2.4em;
    right: -14px;
    list-style: none;
    z-index: 5;
    padding: 10px 20px;
    background-color: rgb(251, 250, 250);
    border-radius: 4px;
}

/* .menu>ul>li {

    padding-bottom: 4px;
    border-bottom: 1px solid;
} */

a {
    color: #4f4d4d;
    text-decoration: none;
}

.profileList {
    list-style: none;
    border-radius: 3px;
    padding: 2em 2em;
    background-color: grey;
    position: absolute;
    top: 45px;
    right: -20px;
    z-index: 5;
    color: #fff;
    text-align: center;
}

.profileList>li {
    margin: 5px;
}

.logoutBtn {
    padding: 10px 20px;
    color: crimson;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
}

.searchInp>input {
    position: absolute;
    padding: 14px;
    border-radius: 25px;
    width: 17em;
    right: -1.9em;
    top: -1.4em;
    font-size: 14px;
    border: none;
}

/* .li{
    padding-bottom: 4px;
    border-width: 0%;
    transition: ease-in-out 1s;
}
.li:hover{
    border-bottom: 3px solid blue;
    padding-bottom: 4px;
    border-width: 100%;
} */